<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Crear actividad</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="/employee-page" (submit)="onFormSubmit(compra)">
        <dx-form [formData]="compra" [colCount]="2" labelLocation="top">
            <dxi-item editorType="dxSelectBox" caption="Robots" dataField="clienteId" [isRequired]="true">
                <dx-select-box [dataSource]="listaEmpleados" valueExpr="idCliente" displayExpr="nombreCompleto"
                    (onValueChanged)="onValueChanged($event)" [searchEnabled]="true">
                </dx-select-box>
                <dxo-label text="Cliente"></dxo-label>
            </dxi-item>
            <dxi-item dataField="fechaCompra" [editorOptions]="hireDateOptions">
            </dxi-item>
            <dxi-item editorType="dxDataGrid" [colSpan]="2">
                <dx-data-grid id="dataGridDetalleCompra" [dataSource]="listaDetalleCompra" keyExpr="idDetalleCompra"
                    [allowColumnReordering]="true"  [allowColumnResizing]="true" [columnAutoWidth]="true">

                    <dxi-column  dataField="productoId"  caption="Producto">
                        <dxo-lookup   [dataSource]="listaProductos" valueExpr="idProducto" displayExpr="nombre"></dxo-lookup>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column  dataField="cantidadComprada">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="subTotal" [allowEditing]="false">
                        
                    </dxi-column>
                    <dxi-column  dataField="iva" [allowEditing]="false">
                        
                    </dxi-column>
                    <dxi-item name="addRowButton" showText="always"></dxi-item>
                    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
                    </dxo-editing>
                </dx-data-grid>
            </dxi-item>
            <dxi-item [colSpan]="2" itemType="button" [buttonOptions]="submitButtonOptions">
            </dxi-item>
        </dx-form>
    </form>
</div>